.Rproj.user
.Rhistory
.RData
.Ruserdata
tweets_try1.RData
streamed_tweets0802.json
stream-20200208173206.json
streamedtweets.RData
tweets_try2.RData
italian_tweets.RData
italian_hasthag_tweets.RData
english_tweets.RData
italian_coronav_tweets.RData
italian_tweets2.RData
both_keywords_ita.RData
coronavirus_tweets.RData
coronav_tweets.RData
italian_coronav_tweets1.RData
both_keywords1_ita.RData
italian_coronav_tweets2.RData
both_keywords_ita_old.RData
both_keywords_second.RData
italian_coronav_tweets1_1802.RData
italian_coronav_tweets.csv
italian_coronav_tweets3.RData
italian_coronavirus_tweets.csv
italian_coronavirus_fulldataset.RData
italian_coroonavirus_dataset_json.json
cleaned_coronavirus.RData
it-sentiment_lexicon.lmf.xml
DepecheMood_italian_token_full.tsv
