italian_coronav_tweets.csv
cv_full_dataset.feather
italian_coronavirus_fulldataset.RData
italian_coronavirus_tweets.csv
DepecheMood_italian_token_full.tsv
cleaned_coronavirus.RData
it-sentiment_lexicon.lmf.xml
opeNER_df.csv
